*{
    margin: 0px;
    padding: 0px;
  }
  .container{
    width: 1000px;
    margin: 0 auto;
  }
  .container div{
    text-align: center;
    display: table;
  }
  .container div span{
    display: table-cell;
    vertical-align: middle;
  }
  .top{
    
    margin-bottom: 10px;
    outline: 1px solid #9F9F9F;
    width: 1000px;
    height: 80px;
    display: table;
    background-color: black;
  }
  .middle{
    margin-top: 20px;
    width: 1000px;
    height: 500px;
    position: relative;
  }
  .middle-left{
    outline: 1px solid #9F9F9F;
    position: absolute;
    top: 0px;
    width: 200px;
    height: 500px;
    background-color: black;
  }
  .middle-right{
    position: absolute;
    top: 0px;
    left: 220px;
    width: 800px;
    height: 500px;
  }
  .middle-right-1{
    outline: 1px solid #9F9F9F;
    width: 780px;
    height: 500px;
    background-color:white;
  }
 
  .bottom{
    margin-top: 20px;
    margin-bottom: 20px;
    outline: 1px solid #9F9F9F;
    width: 1000px;
    height: 100px;
    background-color: black;
    color: #fff;
  }

  .groupButton{
      color:black;
      font-size: large;
      top:0;
      height:50px;
      width:150px;
      margin-left:20px ;
      margin-top: 10px;

  }

  .profileButton{
    color:black;
    font-size: large;
    top:0;
    height:50px;
    width:150px;
    margin-left:20px ;
    margin-top: 10px;

}